*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

.progress {
  border: solid 1px black;
  margin-bottom: 15px;

  &-line {
    width: 0;
    height: 10px;
    background-color: rgba(green, 0.7);
  }
}


.steps {
  margin-bottom: 15px;
  border: solid 1px black;
}

.step {
  display: none;
}

.controls {
  display: flex;
  align-items: center;
}

/* .prev {
  justify-self: flex-start;
} */
.next {
  margin-left: auto;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}